.main-holder
  = form_with model: @move, url: game_moves_path(@game), method: :post,
              local: true, class: 'main-form' do |f|
    = f.label :number, 'Следующий ход'
    = f.text_field :number, type: 'number', min: 123, max: 9876, autocomplete: :off
    = f.label :cows, 'Коров'
    = f.text_field :cows, type: 'number', min: 0, max: 4, autocomplete: :off
    = f.label :bulls, 'Быков'
    = f.text_field :bulls, min: 0, max: 4, type: 'number', autocomplete: :off
    = f.hidden_field :game_id, value: @game.id
    = f.submit 'Подтвердить', class: 'btn btn-std'
  -if @game.moves.any?
    %p
      Список ходов:
    .table-holder
      %table
        %tbody
          %tr
            %th
              Ход
            %th
              Коров
            %th
              Быков
          -@game.moves.each do |m|
            %tr
              %td= m.number
              -if m.bulls == 4
                %td.win{ colspan: 2 }= 'ПОБЕДА!'
              -else
                %td= m.cows
                %td= m.bulls
            - 'Победа!' if m.bulls == 4
  %p= "Оставшихся вариантов: #{@solver.potentials.size}"
  -if @solver.potentials.size > 100
    %p
      Список отобразится когда вариантов станет меньше 100.
  -elsif @solver.potentials.size > 0
    %p= @solver.potentials.join(' ')
  -else
    %p
      Вариантов не осталось! Вы, или ваш соперник где-то ошиблись.
  -if @last_move
    -delete_path = game_move_path(@game, @last_move)
    -delete_method = :delete
  -else
    -delete_path = game_path(@game)
    -delete_method = :get
  = link_to "Отменить последний ход", delete_path, method: delete_method, class: 'btn btn-std btn-long'
  =link_to 'Новая игра', games_path, method: :post, class: 'btn btn-std btn-long'
